/* Reset styles to ensure consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    align-content: stretch;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

audio
{
    position: relative;
    width: 100%;
    height: 32px;
    z-index: 1;
}

.page {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    height: calc(100vh - 32px);
    z-index: 10;
}

.musicbox{
    top: 0;
    left: 0;
    z-index: 10;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
    color: #fff;
    width: 20vw;
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 270px;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #333;
    z-index: 1;
}

.content-block{
    margin: 1%;
    border: dashed 8px;
    border-radius: 5px;
    padding: 1%;
    background-color: #fff;
}

/* Logo styles */
.logo {
    font-size: 2rem;
    font-weight: bold;
    height: fit-content;
}

.logoImg{
    width: 75%; 
    height: auto;
    margin-left: 50%;
    margin-bottom: 24px;
    transform: translateX(-50%);
    border-radius: 100%;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
    color: #fff;
    position: fixed;
    z-index: 1;
    margin-top: 15vh;
    margin-right: 1rem;
}

/* Navigation styles */
nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}